

<div class="container" >

  <button pButton type="button" label="Teachers" class="p-mr-2 p-mb-2 create_margins view-buttons" (click)="showTeacher()"></button>
  <button pButton type="button" label="Class Groups" class="p-mr-2 p-mb-2 create_margins view-buttons" (click)="showClassGroups()"></button>

</div>



<!--<div class="container">-->

<!--  <div (click)="showTeacher()" class="button">-->
<!--    Teachers-->
<!--  </div>-->

<!--  <div (click)="showClassGroups()" class="button">-->
<!--    Class Groups-->
<!--  </div>-->

<!--</div>-->
